#header {
  min-height: calc(100vh - 50px);
  background-image: url('./images/girls-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-card {
  min-height: 30vh;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}